name: test
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ^1.23.4
      - run: go build
      - uses: golangci/golangci-lint-action@v9
        with:
          args: --timeout 5m
      - run: go test -covermode atomic -coverprofile coverage.txt
      - uses: codecov/codecov-action@v5
  spell_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: streetsidesoftware/cspell-action@v8
        with:
          files: "**/*.{md,go}"
  readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: npx markdown-link-check README.md
